[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke
[submodule "themes/terminal"]
	path = themes/terminal
	url = https://github.com/JonaSabido/hugo-theme-terminal.git
